/* Google fonts - Nunito & PT Sans
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* Global Variables
   ========================================================================== */
:root {
  /* font */
  --pri-font: 'Nunito', system-ui, sans-serif;
  --sec-font: 'PT Sans', system-ui, sans-serif;
  /* size */
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  /* color */
  --light-0: hsl(210, 17%, 98%);
  --dark-0: hsl(216, 16%, 6%);
  --accent-0: hsl(0, 66%, 30%);
  --accent-1: hsl(184, 66%, 30%);
  --dark-0-transparent: hsla(216, 16%, 6%, 40%);
  --accent-1-transparent: hsla(184, 66%, 30%, 40%);
  --pri-grad: linear-gradient(180deg, var(--dark-0-transparent) 45%, var(--accent-1-transparent));
  /* miscellaneous */
  --pri-brd-rad: 5px;
}

/* Box-sizing rules
   ========================================================================== */
* {
  box-sizing: border-box;
}

/* Set Core Body Defaults
   ========================================================================== */
body {
  background: var(--dark-0);
  color: var(--light-0);
  font-family: var(--sec-font);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 0;
}

footer {
  margin-top: auto;
}

/* Style Header
   ========================================================================== */
header {
  background-color: var(--light-0);
  color: var(--dark-0);
  border-bottom: var(--size-2) solid var(--accent-0);
}

.hero {
  font-family: var(--pri-font);
}

/* Style scores dashboard
   ========================================================================== */
.round-selection {
  flex: 1;
}

.textV01 {
  font-family: var(--pri-font);
  font-size: var(--size-5);
  font-weight: 800;
  margin: var(--size-3);
}

.buttonV01 {
  cursor: pointer;
}

.player-selection,
.round-selection {
  margin: var(--size-7);
}

.scores {
  border-radius: var(--pri-brd-rad);
  font-size: var(--size-7);
  line-height: 0;
  margin: auto;
  max-width: 200px;
  position: relative;
  border: var(--size-1) solid var(--light-0);
}

.score {
  background-color: var(--accent-0);
  border-radius: var(--pri-brd-rad);
  font-size: var(--size-3);
  font-weight: 600;
  line-height: normal;
  padding: 0 var(--size-2);
  color: var(--light-0);
}

.scores p:nth-child(2),
.scores p:nth-child(3) {
  position: absolute;
}

.scores p:nth-child(2) {
  left: -25px;
  top: 5px;
}

.scores p:nth-child(3) {
  right: -20px;
  top: 5px;
}

.alert {
  background-color: var(--accent-1-transparent);
  background-image: var(--pri-grad);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.alert-msj {
  background-color: var(--accent-1-transparent);
  background-image: var(--pri-grad);
  border-radius: var(--pri-brd-rad);
  margin: auto;
  max-width: 350px;
  padding: var(--size-7);
  position: relative;
  top: 50%;
  box-shadow: 0px 0px var(--size-3) 0px var(--dark-0);
}

.tie {
  border-color: rgb(255, 251, 0);
}

.win {
  border-color: rgb(43, 255, 0);
}

.lose {
  border-color: rgb(255, 0, 0);
}

.blink {
  transition: border-color 50ms ease-in-out;
}

/* Style player selection icons
   ========================================================================== */
.emoji {
  color: var(--accent-0);
  font-size: var(--size-8);
  margin: var(--size-2);
}

.emojis {
  cursor: pointer;
  border-radius: var(--pri-brd-rad);
  outline-offset: 5px;
  outline: 2px solid var(--accent-0);
  margin: var(--size-3);
}
/* Utility class
   ========================================================================== */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Style links
========================================================================== */
a:link {
  color: var(--light-0);
  text-decoration: none;
}

a:visited {
  color: var(--accent-0);
}

a:hover {
  color: var(--accent-1);
}

a:focus {
  border-radius: var(--pri-brd-rad);
  outline-offset: 5px;
  outline: 2px solid var(--accent-0);
}

/* screen 768px and up
========================================================================== */
@media (min-width: 768px) {
  .emoji {
    margin: var(--size-4) var(--size-6);
    font-size: var(--size-10);
  }
}
